@if(isLoading) {
  <div class="loading-container">
    <ion-spinner color="primary"></ion-spinner>
    <p>Cargando...</p>
  </div>
}

@if(isStandalone && !isLoading ) {
  <ion-content class="card--center" color="light">
    <ion-card class="ion-padding">

      <ion-card-header class="ion-text-center">
        <h2>Valida tu escuela</h2>
      </ion-card-header>

      <ion-card-content>
        <ion-list [inset]="true">
          <ion-item>
            <ion-input
              label="Clave del Centro de Trabajo (CCT)"
              labelPlacement="stacked"
              placeholder="Escribe la clave aquí"
              maxlength="10"
              [(ngModel)]="cct"
            >
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-list [inset]="true">
          <ion-label>Turno:</ion-label>
          <ion-radio-group
           value="{{ selectedShift }}"
           [compareWith]="compareWith"
           (ionChange)="shiftHandleChange($event)"
          >
            <ion-item>
              <ion-radio value="TM" justify="space-between">Matutino</ion-radio>
            </ion-item>
            <ion-item>
              <ion-radio value="TV" justify="space-between">Vespertino</ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>

        <ion-list [inset]="true">
            <ion-input-otp [(ngModel)]="pin">
              <ion-label>Ingresa los 4 digitos del PIN</ion-label>
            </ion-input-otp>
        </ion-list>

        <ion-button
          expand="block"
          fill="solid"
          [disabled]="isInvalidForm()"
          (click)="onContinue()"
        >
          Continuar
        </ion-button>

        <ion-toast
         cssClass="page__toast"
         [message]="toastMessage"
         [isOpen]="isToastOpen"
         [duration]="3000"
         (didDismiss)="setOpenToast(false)"
        >
        </ion-toast>
      </ion-card-content>

      <p class="ion-text-center">Schoolify v0.1.0</p>

    </ion-card>
  </ion-content>
}

@if(!isStandalone && !isLoading) {
  <ion-content class="card--center" color="light">
    <ion-card class="ion-padding ion-text-center">

      <ion-img src="../../assets/img/portal-cover.png"></ion-img>

      @if(installAppService.promptStatus) {
        <p class="app-description">
          Schoolify es una aplicación de comunicación escolar que permite a padres de familia y
          tutores recibir notificaciones importantes sobre la asistencia, conducta y cumplimiento
          académico de sus hijos.
        </p>
      }

      @if(!isIOS) {
        @if(installAppService.promptStatus) {
          <ion-button
           expand="block"
           color="success"
           (click)="showInstallAppBanner()"
          >
            <ion-icon slot="start" [name]="detectedOS"></ion-icon>
            Instalar
          </ion-button>
        }
        @if(!installAppService.promptStatus) {
          <p>La App ya está instalada y lista para usarse, búscala en tu pantalla de inicio.</p>
        }
      }

      @if(isIOS) {
        <ion-button
          expand="block"
          color="success"
          id="install-ios-modal"
        >
          <ion-icon slot="start" [name]="detectedOS"></ion-icon>
          Instalar
        </ion-button>

        <ion-modal trigger="install-ios-modal" #installIOSModal>
          <ng-template>
            <ion-header>
              <ion-toolbar color="primary">
                <ion-buttons slot="start">
                  <ion-button (click)="installIOSModal.dismiss()">Cerrar</ion-button>
                </ion-buttons>
                <ion-title>Instalar</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <img class="modal__img" src="../../assets/img/ios-install.jpg" alt="">
            </ion-content>
          </ng-template>
        </ion-modal>
      }

    </ion-card>
  </ion-content>
}
