/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */



/**
 * Custom
 * -----------------------------------------------------
 * Global customized rules
 */

ion-chip {
  --background: #f6e338;
  --color: #222d3a;
}

ion-modal ion-title {
  text-align: center;
}

ion-textarea {
  min-height: 100px;
  max-height: 200px;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center-box p {
  color: cornflowerblue;
  margin: 0 2rem;
  text-align: center;
}

.container__spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-item {
  --background: #f7f7f7; /* Fondo personalizado */
}

.item-background__color--warm-glow {
  --background: #fff4d3;
}

.page__toast {
  font-size: 1.2rem;
}

.input__text--uppercase {
  text-transform: uppercase;
}

.sliding-item-card {
  margin: 15px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 90%;
}
